<div class="tp-login-social d-flex flex-wrap align-items-center justify-content-center">
  <div class="tp-login-option-item">
      <a href="#">
        <img src="/assets/img/icon/login/google.svg" alt="">
        
      </a>
  </div>
  <div class="tp-login-option-item">
      <a href="#">
        <img src="/assets/img/icon/login/facebook.svg" alt="">
      </a>
  </div>
  </div>
  <!-- <div class="tp-login-option-item">
      <a href="#">
        <img src="/assets/img/icon/login/twitter.svg" alt="">
      </a>
</div> -->
